.header{
  display: flex;
  gap: 52%;
  color: white;
  background-color:rgb(33, 33, 32);
  
  
  
}
.logo{
  color: yellow;
margin-left: 10px;

}
*{
  color: white;
  margin-left: 0px;
  margin-right: 0px;
  background-color: black;
}

.nav{
  display: flex;
  gap: 20px;
  margin-top: 25px;
  margin-right: 0px;
  margin-left: 300px;
  align-items: center;
  justify-content: center;

}

li{
  color: white;
  list-style: none;
  text-decoration: none;
  
}
.movie{
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 150px;

}
.movie:hover{
  cursor: pointer;
  border: 2px solid gold;
}
/* .watchlist{
  display: flex;
 margin-bottom: 0px;
 align-items: baseline;
} */
button{
  background-color: black;
}
.movie img{
  height: 200px;
}

.movie-list{
display: flex;
gap: 1em;
flex-wrap: wrap;
}
.movielist-page{

  padding: 8px;
  background-color: black;
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pagination button.active{
  /* border: 4px solid blueviolet; */
  background-color: rgb(200, 171, 10);
}
.pagination >button:hover{
/* background-color: rgb(200, 171, 10); */
cursor: pointer;

}